@import "./variables";
h1{
    color: $textColor;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background: $cardColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/background.gif") no-repeat;
    background-size: cover;

    section{
        padding: 1rem;
        border: 3px solid rgba(255, 255, 255, 0.356);
        border-radius: 10px;
        background-color: $cardColor;
        backdrop-filter: blur(15px);

        img{
            max-width: 150px;
        }
    }
}